<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>cnncls</title>
  <link rel="shortcut icon" href="" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  
  <!-- style.css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  
</head>
<body>

  <div class="header">
    <h3 class="text-center">Image Classification</h3>
  </div>
  <div class="main container">
    <section class="iupload text-center">
      <div class="img-box">
        <img src="" id="photo" alt="Your image will appear here">
        <canvas style="display: none" id="canvas"></canvas>
      </div>
      <div class="button-container">
        <button type="button" class="btn btn-primary" id="uload">Upload</button>
        <button id="send" type="button" class="btn btn-success">Predict</button>
      </div>
      <form id="upload-data" class="mt-3">
        <input type="hidden" class="form-control" id="url" value="../predict" />
        <input name="upload" type="file" id="fileinput" style="position: absolute; top: -500px" />
      </form>
      <div id="json-output" class="json-display">

        <!-- JSON output will be displayed here -->

      </div>
    </section>
    <div id="loading">
      <div class="loader"></div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- script.js -->
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
