body {
    background-color: #eff2f9;
}

.iupload h3 {
    color: #1b2d6b;
    font-size: 30px;
    font-weight: 700;
}

.img-part {
    height: 300px;
    width: 300px;
    margin: 0px auto;
}

.image-part {
    height: 300px;
    width: 300px;
    border: 1px solid #1b2d6b;
}

.image-part img {
    position: absolute;
    height: 300px;
    width: 300px;
    display: none;
    padding: 5px;
}

.image-part #video {
    display: block;
    height: 300px;
    width: 300px;
    padding: 5px;
}

.res-part {
    border: 1px solid #dedede;
    margin-left: 20px;
    height: 310px;
    width: 100%;
    padding: 5px;
    margin: 0px auto;
    overflow: auto;
}

.res-part2 {
    border: 1px solid #dedede;
    height: 310px;
    width: 100%;
    padding: 5px;
    margin: 0px auto;
}

.resp-img {
    height: 298px;
    width: 233px;
    margin: 0px auto;
}

.jsonRes {
    margin-left: 30px;
}

#send {
    cursor: pointer;
}

.btn-part {
    width: 325px;
}

textarea,
select,
.form-control,
.custom-select,
button.btn,
.btn-primary,
input[type="text"],
input[type="url"],
.uneditable-input {
    border: 1px solid #363e75;
    outline: 0 !important;
    border-radius: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -moz-transition: none;
    -webkit-transition: none;
}

textarea:focus,
select:focus,
.form-control:focus,
.btn:focus,
.btn-primary:focus,
.custom-select:focus,
input[type="text"]:focus,
.uneditable-input:focus {
    border: 1px solid #007bff;
    outline: 0 !important;
    border-radius: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -moz-transition: none;
    -webkit-transition: none;
}

#loading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.7);
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #363e75;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -4em;
    display: block;
    animation: spin 2s linear infinite;
}

.loader,
.loader:after {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -4.05em;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.right-part {
    border: 1px solid #dedede;
    padding: 5px;
}

.logo {
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin-right: 30px;
    margin-bottom: 30px;
}